$highlight:#b79e44;
$body-color:#5e5e5e;
$button-text-color: #fff;
$dark-font-color: #808594;
$menu-font-highlight: #fff;
$near-black: #040a07;
$light-bg: #fff;
$dark-bg: #000b29;
$light-bg-hover: rgba(0, 0, 0, 0.04);
$dark-bg-hover: #161616;
$dark-bg-transp: rgba(0, 0, 0, 0.8);
$light-border-color: #dadada;
$light-border-transp-color: rgba(0, 0, 0, 0.1);
$dark-border-color: #6b728c;
$dark-border-transp-color: rgba(255, 255, 255, 0.1);
$title-font: Open Sans, arial;
$body-font: Tangerine, Open Sans, arial;
$dark-shadow: 2px 2px 2px #000;
$light-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
$corner-roundness: 10px;
$menu-font-weight: 600;
$mobile-logo-width: 175px;
$header-height: 100px;

