<%- include('header') %>

<%- include('featured') %>

<div class="widget-area home-below-featured">
        <div class="circle" id="home-circle-callboxes">
        <div class="row media-spacer-med">
            <div class="large-3 columns ">
                <div class="circle-container">
                    <div class="circle-wrapper">
                        <div class="circle-padding">
                            <div class="circle-img" style="background-image: url(public/images/img-home-circle-1.jpg)"></div>
                            <div style="" class="circle-content">
                                <div class="circle-content-center">
                                    <a href="public/images/default-image-545x545.jpg"><i class="fa fa-coffee"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="circle-caption">
                        <a href="#">Some Title</a>
                    </div>
                </div>
            </div>
            <div class="large-3 columns ">
                <div class="circle-container">
                    <div class="circle-wrapper">
                        <div class="circle-padding">
                            <div class="circle-img" style="background-image: url(public/images/img-home-circle-2.jpg)"></div>
                            <div style="" class="circle-content">
                                <div class="circle-content-center">
                                    <a href="#"><i class="fa fa-coffee"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="circle-caption">
                        <a href="#">Some Title 2</a>
                    </div>
                </div>
            </div>
            <div class="large-3 columns ">
                <div class="circle-container">
                    <div class="circle-wrapper">
                        <div class="circle-padding">
                            <div class="circle-img" style="background-image: url(public/images/img-home-circle-3.jpg)"></div>
                            <div style="" class="circle-content">
                                <div class="circle-content-center">
                                    <a href="#"><i class="fa fa-coffee"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="circle-caption">
                        <a href="#">Some Title 3</a>
                    </div>
                </div>
            </div>
            <div class="large-3 columns ">
                <div class="circle-container">
                    <div class="circle-wrapper">
                        <div class="circle-padding">
                            <div class="circle-img" style="background-image: url(public/images/img-home-circle-4.jpg)"></div>
                            <div style="" class="circle-content">
                                <div class="circle-content-center">
                                    <a href="#"><i class="fa fa-coffee"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="circle-caption">
                        <a href="#">Some Title 4</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<!--below header featured widget area-->
<div class="widget-area home-below-featured">
    <div class="textwidget">
        <div class="catch-phrase">
        <div class="row">
            <div class="medium-8 columns media-center-med">
                <div class="left large catch-phrase-text">Curabitur nec lectus quis nulla dapibus congue.</div>
            </div>
            <div class="medium-4 columns media-center-med">
                <a class="btn shadow medium right" href="#"> Request a Consultation</a>
            </div>
        </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="widget-area home-below-featured">
    <div id="home-category-boxes">
        <div class="row">
        <div class="medium-12 columns">
            <ul class="small-block-grid-2 large-block-grid-3">
                <li>
                    <div class="cat-header-wrapper">
                    <a href="#" rel="bookmark" title="Permanent Link to Skill4">
                    <img src="public/images/default-image-545x545.jpg" alt="Skill4" />
                    </a>
                    <div class="cat-header"><a href="#" title="Skill4">Skill4</a></div>
                    </div>
                </li>
                <li>
                    <div class="cat-header-wrapper">
                    <a href="#" rel="bookmark" title="Permanent Link to Skill1">
                    <img src="public/images/default-image-545x545.jpg" alt="Skill1" />
                    </a>
                    <div class="cat-header"><a href="#" title="Skill1">Skill1</a></div>
                    </div>
                </li>
                <li>
                    <div class="cat-header-wrapper">
                    <a href="#" rel="bookmark" title="Permanent Link to Skill 2">
                    <img src="public/images/default-image-545x545.jpg" alt="Skill 2" />
                    </a>
                    <div class="cat-header"><a href="#" title="Skill 2">Skill 2</a></div>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
<!-- end category boxes -->
<!-- content-->
<div id="content" class="body-container home-body-container">
    <div class="row">
        <div class="large-12 columns center">
        <div class="spacer"></div>
        <h1>Centered Large Headline</h1>
        <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis nulla nec neque eleifend consectetur in nec nisi. Vestibulum luctus justo ut lacus semper vestibulum. Nulla tempus erat sit amet dui interdum iaculis. Fusce quis sollicitudin lorem.</p>
        <div class="spacer"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<!--#end content-->   
<!--#call to action boxes-->
<div class="row media-center-lg">
<div class="large-12 columns center">
    <div class="spacer-sml"></div>
    <h2>You've tried the rest. Now call the best!</h2>
</div>
</div>
<div class="row media-center-lg media-spacer-lg">
        <div class="large-4 columns center callbox">
            <div class="callbox-content">
            <h3>The Super Irruption</h3>
            <p>Fusce lorem leo, porttitor non aliquet vel, mollis eget magna. Integer sodales ornare ipsum, in placerat metus lobortis a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Blandit augue.</p>
            <a href="#" class="btn solid medium ">Order Now</a>
            </div>
            <img alt="" src="public/images/callbox-img1.jpg">    
        </div>
        <div class="large-4 columns center callbox">
            <div class="callbox-content">
                <h3>The Super Irruption</h3>
                <p>Fusce lorem leo, porttitor non aliquet vel, mollis eget magna. Integer sodales ornare ipsum, in placerat metus lobortis a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Blandit augue.</p>
                <a href="#" class="btn solid medium ">Order Now</a>
            </div>
            <img alt="" src="public/images/callbox-img2.jpg">     
        </div>
        <div class="large-4 columns center callbox">
            <div class="callbox-content">
                <h3>The Super Irruption</h3>
                <p>Fusce lorem leo, porttitor non aliquet vel, mollis eget magna. Integer sodales ornare ipsum, in placerat metus lobortis a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Blandit augue.</p>
                <a href="#" class="btn solid medium ">Order Now</a>
            </div>
            <img alt="" src="public/images/callbox-img3.jpg">    
        </div>
</div>
<!--#end call to action boxes-->
<!--#above footer widget area-->
<div class="twitter-feed-wrapper">
<div class="row media-center-lg">
        <div class="large-2 columns nopadding-right">
            <div class="large twitter-icon"><i class="fa fa-twitter"></i></div>
        </div>
        <div class="large-10 columns">
            <div id="twitter_update_list_64defb24835fe2d04448186d3fd9cb26">
                <ul class="tweet_list"><li class="tweet_first tweet_odd">
                        <span class="tweet_time"><a title="view tweet on twitter" href="http://twitter.com/idoncor/status/694926493663780864">about 13 days ago</a></span> 
                        <span class="tweet_text">"No great athlete is without a great coach." by <span class="at">@</span><a href="http://twitter.com/idoncor">idoncor</a> on <span class="at">@</span>
                            <a href="http://twitter.com/LinkedIn">LinkedIn</a> 
                            <a href="https://www.linkedin.com/pulse/great-athlete-without-coach-don-cormier">linkedin.com/pulse/great-at...</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>