/* ==========================================================================
   admin Styles
   ========================================================================== */

   .error {
       color: red;
   }

   .article-list li a {
       float: right;
       margin-left: 10px;
   }

   .navbar {
       background: #f1f1f1;
       margin-bottom: 20px;
   }

   .margin-bottom {
       margin-bottom: 20px;
   }