<%- include('head-error') %>

<div class="loading-container">
    <div class="body-container">
        <div class="row">
            <div class="large-12 columns" id="content">

                <h1>404</h1>
	            <h3>Sorry, the page: <%= Url %> doesn't exist</h3>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%- include('footer') %>