<div id="footertop">
    <div class="row media-spacer-med">
        <div class="medium-3 columns footer1">
        <div class="lineafter-header-container">
            <h3 class="lineafter-heading">Categories</h3>
        </div>
        <ul>
            <li class="cat-item cat-item-1"><a href="#" title="View all posts filed under Uncategorized">Uncategorized</a>
            </li>
            <li class="cat-item cat-item-38"><a href="#" title="View all posts filed under Category 1">Category 1</a>
            </li>
            <li class="cat-item cat-item-39"><a href="#" title="View all posts filed under Category 2">Category 2</a>
            </li>
            <li class="cat-item cat-item-40"><a href="#" title="View all posts filed under Category 3">Category 3</a>
            </li>
        </ul>
        </div>
        <div class="medium-3 columns footer2">
        <h3>Subscribe</h3>
        <form action="/dev/wordpress2/" id="ns_widget_mailchimp_form-2" method="post">
            <input type="hidden" name="ns_mc_number" value="2" />
            <label for="ns_widget_mailchimp-email-2">Email Address :</label>
            <input id="ns_widget_mailchimp-email-2" type="text" name="ns_widget_mailchimp_email" />
            <input class="button" type="submit" name="Join Now!" value="Join Now!" />
        </form>
        </div>
        <div class="medium-3 columns footer3">
        <h3>Heading</h3>
        <div class="textwidget">
                <p>blah blah</p>
        </div>
        </div>
        <div class="medium-3 columns footer4">
        <div class="widget-area widget-footer-top-4">
            <h3>Footer Menu</h3>
            <div class="menu-custom-footer-menu-container">
                <ul id="menu-custom-footer-menu" class="menu">
                    <li id="menu-item-370" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-96 current_page_item menu-item-370"><a href="http://1pixeldesign.com/dev/wordpress2/">Home</a></li>
                    <li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="#">Columns</a></li>
                    <li id="menu-item-445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-445"><a href="#/">Testimonials</a></li>
                    <li id="menu-item-446" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-446"><a href="#">About Us</a></li>
                    <li id="menu-item-447" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-447"><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="clear"></div>
</div>