<!--   <div id="footer" class="padding-bottom">
    <footer>
        <div class="row">
        <div class="medium-4 columns media-center-med">
            <div id="footer-socials">
                <div class="socials">
                    <a class="social link-facebook"alt="facebook" href="http://facebook.com"><i style="font-size: 17px;" class="fa fa-facebook fa-lg simple_social"></i></a>
                    <a class="social link-twitter" alt="twitter" href="http://twitter.com"><i style="font-size: 17px;" class="fa fa-twitter fa-lg simple_social"></i></a>
                    <a class="social link-linkedin" alt="linkedin" href="http://linkedin.com"><i style="font-size: 17px;" class="fa fa-linkedin fa-lg simple_social"></i></a>
                    <a class="social link-pinterest" alt="pinterest" href="http://pinterest.com"><i style="font-size: 17px;" class="fa fa-pinterest fa-lg simple_social"></i></a>
                    <a class="social link-googleplus" alt="googleplus" href="http://googleplus.com"><i style="font-size: 17px;" class="fa fa-google-plus fa-lg simple_social"></i></a>
                    <a class="social link-instagram" alt="instagram" href="http://instagram.com"><i style="font-size: 17px;" class="fa fa-instagram fa-lg simple_social"></i></a>
                    <a class="social link-youtube" alt="youtube" href="http://youtube.com"><i style="font-size: 17px;" class="fa fa-youtube fa-lg simple_social"></i></a>
                </div>
            </div>
        </div>
        <div class="medium-6 columns media-center-med">
            Wigitized Footer
            <div class="copywright margin-top-sml padding-columns">&copy; <a href="#" title="Your Site Brief Tagline">Your Site Title&nbsp;2014 </a>.  Website by <a href="#">Pie CMS</a></div>
        </div>
        <div class="medium-2 columns">
            <div id="footer-logo">
                <a href="/"><img src="public/images/logo-main.png" alt="Logo" title="Your Site Title"/></a>
            </div>
        </div>
        </div>
    </footer>
</div>-->

<div id="footer" class="padding-bottom">
    <footer>
        <div class="row footer-text-wrapper">
            <div class="medium-5 columns media-center-med small-text">
                4407 Montrose Rd, Niagara Falls - (905) 358-9898
            </div>
            <div class="medium-7 columns media-center-med small-text">
                <div class="copywright">&copy; 2016 all rights reserved | website designed by <a title="Ben Chung web developer" target="_blank" href="http://www.benchung.com/">Benchung.com</a></div>
            </div>
        </div>
        <!--.container-->
    </footer>
</div>


<!--#footer-->
<!--back to top (put this at the bottom of content area)-->
<div id="toTop">
    <div id=toTop-icon-wrap>
        <i class="fa fa-angle-up"></i>
    </div>
</div>

<!--#main wrapper-->
</div>

<!-- begin scripts -->

<!-- end scripts -->

</body>
</html>