<div id="footer" class="padding-bottom">
    <footer>
        <div class="row footer-text-wrapper">
            <div class="medium-5 columns media-center-med small-text">
                2352 Imaginary Rd, Some City - (111) 222-3333
            </div>
            <div class="medium-7 columns media-center-med small-text">
                <div class="copywright">&copy; 2016 all rights reserved | website designed by <a title="yourcompany.com" target="_blank" href="#">yourcompany.com</a></div>
            </div>
        </div>
        <!--.container-->
    </footer>
</div>


<!--#footer-->
<!--back to top (put this at the bottom of content area)-->
<div id="toTop">
    <div id=toTop-icon-wrap>
        <i class="fa fa-angle-up"></i>
    </div>
</div>

<!--#main wrapper-->
</div>

<!-- begin scripts -->

<!-- end scripts -->

</body>
</html>