<div id="footer-admin">
    <footer>
        
    </footer>
</div>

<!--#main wrapper-->
</div>

<!-- begin scripts -->

<!-- compiled react code -->
<script src="public/bundle.js"></script>

<!-- end scripts -->

</body>
</html>