<%- include('header') %>

<%- include('featured') %>

<!--#call to action boxes-->
<div class="row media-center-lg media-spacer-lg">
        <div class="large-4 columns center callbox">
            <div class="callbox-content">
            <div class="callbox-icon"><i class="fa fa-envira" aria-hidden="true"></i></div>
            <h2>Chiropractic Care</h2>
            <p>Fusce lorem leo, porttitor non aliquet vel, mollis eget magna. Integer sodales ornare ipsum, in placerat metus lobortis a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Blandit augue.</p>
            <a href="/chiropractic" class="btn solid medium ">Read More&nbsp;&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="large-4 columns center callbox">
            <div class="callbox-content">
                <div class="callbox-icon"><i class="fa fa-fire" aria-hidden="true"></i></div>
                <h2>Massage Therapy</h2>
                <p>Fusce lorem leo, porttitor non aliquet vel, mollis eget magna. Integer sodales ornare ipsum, in placerat metus lobortis a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Blandit augue.</p>
                <a href="/massage-therapy" class="btn solid medium ">Read More&nbsp;&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="large-4 columns center callbox">
            <div class="callbox-content">
                <div class="callbox-icon"><i class="fa fa-lemon-o" aria-hidden="true"></i></div>
                <h2>Foot Orthotics</h2>
                <p>Fusce lorem leo, porttitor non aliquet vel, mollis eget magna. Integer sodales ornare ipsum, in placerat metus lobortis a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Blandit augue.</p>
                <a href="foot-orthotics" class="btn solid medium ">Read More&nbsp;&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
</div>
<!--#end call to action boxes-->
<!-- quote-->
<div class="above-footer-quote">
    <div class="row">
        <div class="large-12 columns center">
        <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis nulla nec neque eleifend consectetur in nec nisi. Vestibulum luctus justo ut lacus semper vestibulum. Nulla tempus erat sit amet dui interdum iaculis. Fusce quis sollicitudin lorem.</p>
        </div>
    </div>
</div>
<div class="clear"></div>
<!--#quote-->   

<%- include('footer') %>