<%- include('header') %>

<div class="loading-container">
    <div class="body-container">
        <div class="row">
            <div class="large-12 columns" id="content">
                <!--content-->
                <%- include('temp-columns') %>
                <!--end content-->
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%- include('footer') %>