<div class="widget-area widget-sidebar">
      <div class="caption-bubble-wrapper">
          <img 
          <% if (Slug === 'chiropractic') { %>src="public/images/sidebar-chiropractic-testimonial.jpg"  <% } %>
          <% if (Slug === 'massage-therapy') { %>src="public/images/sidebar-massage-therapy.jpg"  <% } %>
          <% if (Slug === 'foot-orthotics') { %>src="public/images/sidebar-foot-orthotics.jpg"  <% } %>
          <% if (Slug === 'treatments-available') { %>style="margin-bottom: 62px;"  <% } %>
          
          />
          <!--<h3 class="sidebar-widget-title">Testimonials</h3>-->
          <div class="spacer-sml"></div>
          <div class="widget-body">
              <ul>
                  <li>
                      <div class="large">
                          "I always feel great when I walk out of that office. <span class="highlight">It's improved my back health greatly</span>, not to mention Chordasco's comfortable, laid back, friendly and forgiving service."
                      </div>
                      <div class="spacer-sml"></div>
                       <span class="small">Ben Chung - st. Catharines</span>
                  </li>
              </ul>
          </div>
      </div>
</div>

<!--<div class="widget-area widget-sidebar">
   <div class="textwidget">
       <div class="onepix-tabs" id="tabs">
           <ul>
               <li><a href="#tabs-1">Tab 1</a></li>
               <li><a href="#tabs-2">Tab 2</a></li>
           </ul>
           <div id="tabs-1">
               <div class="tabcontent">tab 1 content</div>
           </div>
           <div id="tabs-2">
               <div class="tabcontent">tab 2 content</div>
           </div>
       </div>
   </div>
</div>-->
