<div class="widget-area widget-sidebar">
      <div class="caption-bubble-wrapper">
          <img src="public/images/sidebar-img.jpg"/>
          <div class="spacer-sml"></div>
          <div class="widget-body">
              <ul>
                  <li>
                      <div class="large">
                          "Lorem ipsum dolor sit amet, consectetur in nec nisi. Vestibulum luctus justo ut <span class="highlight">It's improved my back health greatly</span>. Nulla tempus erat sit amet dui interdum iaculis. Fusce quis sollicitudin lorem. Proin eu ipsum nec nisi sagittis vestibulum a sed metus."
                      </div>
                      <div class="spacer-sml"></div>
                       <span class="small">Some Person's Testimonial</span>
                  </li>
              </ul>
          </div>
      </div>
</div>
