<h3>Large Divider</h3>
<div class="divider large"></div>
<div class="spacer"></div>
<h3>Shadow Divider</h3>
<div class="divider shadow"></div>
<div class="spacer"></div>
<h3>Double Divider</h3>
<div class="divider double"></div>
<div class="spacer"></div>
<h3>Double Divider gradient</h3>
<div class="divider doublegrad"></div>
<div class="spacer"></div>
<h3>Dotted Divider</h3>
<div class="divider dotted"></div>
<div class="spacer"></div>