
<div class="row media-spacer-med">
    <div class="medium-12 columns center">
        <h1>Centered Large Headline</h1>
        <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis nulla nec neque eleifend consectetur in nec nisi. Vestibulum luctus justo ut lacus semper vestibulum. Nulla tempus erat sit amet dui interdum iaculis. Fusce quis sollicitudin lorem.</p>
    </div>
</div>
<div class="row media-spacer-med">
    <div class="medium-12 columns ">
        <h1>H1 Features Aenean auctor sapien sit amet quam</h1>
        <h2>H2 met, consectet porttitor non aliquet vel, mollis eget magna.</h2>
        <h3>H3 met, consectet porttitor non aliquet vel, mollis eget magna.</h3>
        <h4>H4 met, consectet porttitor non aliquet vel, mollis eget magna.</h4>
        <div class="spacer"></div>
        <div class="heading-divider-wrapper">
            <h3 class="divider-heading">Heading With Divider</h3>
            <div class="divider-container">
                <div class="heading-divider divider large"></div>
            </div>
        </div>
        <div class="underline-divider-wrapper">
            <h3>Heading With Underline</h3>
            <div class="divider dotted"></div>
        </div>
    </div>
</div>
<div class="row media-spacer-med">
    <div class="medium-12 columns ">
        <h3>Standard Paragraph</h3>
        <p>Sample Standard Paragraph &ndash; dolor sit amet, consectetur adipiscing elit. Nam quis nulla nec neque eleifend consectetur in nec nisi. Vestibulum luctus justo ut lacus semper vestibulum. Nulla tempus erat sit amet dui interdum iaculis. Fusce quis sollicitudin lorem. Proin eu ipsum nec nisi sagittis vestibulum a sed metus. Aliquam adipiscing aliquet tellus. Integer porta arcu sit amet est pretium sit amet tristique orci dictum. . Suspendisse potenti. Aenean venenatis sagittis orci at fringilla. Etiam non dui at risus fringilla lacinia. Aenean auctor sapien sit amet quam rhoncus vehicula. Phasellus sem felis, lobortis ac accumsan eu, rutrum vel ante. Cras sed mi vel lorem porttitor adipiscing. Integer enim sem, ultricies quis adipiscing id, ullamcorper sit amet justo. Aenean eget arcu vitae lacus scelerisque consectetur eu a lacus.</p>
    </div>
</div>
<div class="row media-spacer-med">
    <div class="medium-12 columns ">
        <h3>Small Text Paragraph</h3>
        <p class="small-text">Sample small text &ndash; dolor sit amet, consectetur adipiscing elit. Nam quis nulla nec neque eleifend consectetur in nec nisi. Vestibulum luctus justo ut lacus semper vestibulum. Nulla tempus erat sit amet dui interdum iaculis. Fusce quis sollicitudin lorem. Proin eu ipsum nec nisi sagittis vestibulum a sed metus. Aliquam adipiscing aliquet tellus. Integer porta arcu sit amet est pretium sit amet tristique orci dictum. . Suspendisse potenti. Aenean venenatis sagittis orci at fringilla. Etiam non dui at risus fringilla lacinia. Aenean auctor sapien sit amet quam rhoncus vehicula. Phasellus sem felis, lobortis ac accumsan eu, rutrum vel ante. Cras sed mi vel lorem porttitor adipiscing. Integer enim sem, ultricies quis adipiscing id, ullamcorper sit amet justo.</p>
    </div>
</div>
<div class="row media-spacer-med">
    <div class="medium-12 columns ">
        <h3>Block Quote</h3>
        <blockquote>
            <p>Blockquote The XYZ Doohickey Company was founded in 1971, and has been providing quality doohickeys to the public ever since. Located in Gotham City, XYZ employs over 2,000 people and does all kinds of awesome things for the Gotham community.</p>
        </blockquote>
    </div>
</div>
<div class="row ">
    <div class="medium-12 columns ">
        <h3>Lists</h3>
    </div>
</div>
<div class="row media-spacer-med">
    <div class="medium-6 columns ">
        <ol>
            <li>Aenean auctor sapien sit amet quam rhoncus vehicula. Phasellus sem felis</li>
            <li>Aenean auctor sapien sit amet quam rhoncus vehicula. Phasellus sem felis</li>
            <li>Aenean auctor sapien sit amet quam rhoncus vehicula. Phasellus sem felis</li>
            <li>Aenean auctor sapien sit amet quam rhoncus vehicula. Phasellus sem felis</li>
            <li>Aenean auctor sapien sit amet quam rhoncus vehicula. Phasellus sem felis</li>
        </ol>
    </div>
    <div class="medium-6 columns ">
        <ul>
            <li>Aenean auctor sapien sit amet quam rhoncus vehicula. Phasellus sem felis</li>
            <li>Aenean auctor sapien sit amet quam rhoncus vehicula. Phasellus sem felis</li>
            <li>Aenean auctor sapien sit amet quam rhoncus vehicula. Phasellus sem felis</li>
            <li>Aenean auctor sapien sit amet quam rhoncus vehicula. Phasellus sem felis</li>
            <li>Aenean auctor sapien sit amet quam rhoncus vehicula. Phasellus sem felis</li>
        </ul>
    </div>
</div>
<div class="row media-spacer-med">
    <div class="medium-12 columns ">
        <h3>Table</h3>
        <table>
            <tbody>
                <tr>
                    <th>1 Sample Heading</th>
                    <th>2 Sample Heading</th>
                    <th>3 Sample Heading</th>
                </tr>
                <tr>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                </tr>
                <tr>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                </tr>
                <tr>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
