<div class="widget-area widget-sidebar">
        <!-- Sidenav -->
        <div class="widget-body secondary-nav">
            <h5>Selected Page</h5>
            <ul class="sidenav">
                <li>
                    <a href="/site/" title="">Sub-Page Link</a>
                    <ul class="sub-menu">
                        <li><a href="/site/" title="">Sub-Page Link</a></li>
                        <li><a href="/site/" title="">Sub-Page Link</a></li>
                        <li><a href="/site/" title="">Sub-Page Link</a></li>
                    </ul>
                </li>
                <li><a href="/site/" title="">Sub-Page Link</a></li>
                <li><a href="/site/" title="">Sub-Page Link</a></li>
            </ul>
        </div>
</div>